$highlight: #18447c;
$dk-blue: #1f2e41;
$grey: #262629;
$black: #141416;
$white: #e0e0e9;

$header-font: "montserrat", Helvetica, Arial, sans-serif;
$header-size: 3rem;

$copy-font: "cabin", Helvetica, Arial, sans-serif;
$copy-size: 1.2rem;

$rad: 0.5rem;
$shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
